:root{
  --br: 16px;
  --text-p: 'Lato', sans-serif;
  --text-h : 'Lora', serif;
  --c-white: #fff;
  --c-black: #111;
  --c-t-black: rgba(0, 0, 0, .22);
  --c-primary: #673AB7;
  --c-secundary: #9575CD;
  --c-dark: #2C3E50;
  --c-light: #e4e4e4;
  --c-success: #27AE60;
  --c-danger: #F39C12;
  --c-warning: #E74C3C;
}



body{
  background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/*Secci贸n de bienvenida*/

.welcome {
  background-image: url(/assets/img/Layer.png);
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  background-repeat: no-repeat;
}

.title {
  color: rgb(255, 255, 255);
  height: 120px;
  background-color: rgba(14, 13, 14, 0.6);
}

/*Acerca de*/
.about,
.info {
  margin-top: 2rem;
}

.about h2, .info h2 {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  color: aliceblue;
}
.about p,
.info p,
.info li {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

/*Botones de contacto*/
.button {
  margin: 1rem auto;
  width: 96%;
  text-align: center;
}
.button a img {
  width: 4rem;
  float: right;
}

.button a {
  font-size: 2.5rem;
  border: 2px solid rgb(81, 8, 150);
  width: 100%;
  margin: 0.8rem auto;
  display: inline-block;
  line-height: 4rem;
  border-radius: 15px;
  background-color: rgb(133, 2, 255);
}

.button a:hover {
  text-decoration: none;
  background-color: rgb(136, 84, 184);
}

.button a:active {
  background-color: rgb(140, 44, 230);
}

/*Informaci贸n de la App*/
.app-name {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 3.5rem;
  border-radius: 15px;
  text-align: center;
  margin-top: 2rem;
}

.logo-app {
  width: 30%;
  margin: 1rem auto;
}

.content-table h2 {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2.5rem;
  color: aliceblue;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.content-table {
  background-color: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  line-height: 3rem;
}

.content-table ul {
  list-style: none;
}

.content-table a {
  line-height: 1.3rem;
  text-align: center;
}

.app-info {
  
  font-size: 1.5rem;
  text-align: justify;
  color: white;
}
.answer {
  margin: 4rem auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.answer p {
  background-color: transparent;
  padding: 1rem 1.5rem;
}

.answer h2 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.answer ul li {
  list-style: none;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.answer ul li::before {
  content: "";
}

.answer table {
border-collapse: collapse;
}
.answer td {
  border: 1px solid white;
  width: 50%;
  color: aliceblue;
  font-size: 1.5rem;
  text-align: center;
}

.answer thead {
  font-weight: bold;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.answer ol {
  padding: 2rem;
}

.answer ol a {
  color: crimson;
}

.answer ol li {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

#cta-button {
  text-align: center;
  margin: 0 auto;
}

.vertical-ilustration {
  display: inline-flex;
  width: 45%;
  margin-left: 5%;
}

/*Bot贸n de ir arriba para la p谩gina de informaci贸n de la App*/
.btn-scroll-up{
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  border-radius: 50%;
  position: fixed;
  bottom: -25vh;
  right: 50px;
  cursor: pointer;
  border: none;
  transition: all 800ms ease-in-out;
}

.btn-scroll-up.show{
  bottom: 50px;
}

.btn-scroll-up:hover {
  transform: scale(1.1);
  border-color: rgba(14, 13, 14, 0.3);
}

.btn-scroll-up .material-symbols-outlined{
  font-size: 3rem;
}

/*Versi贸n para m贸viles*/
@media screen and (max-width: 620px) {
  .menu {
    align-items: center;
  }

  .menu ul li {
    margin: 0.3rem;
  }
  a {
    font-size: 1.2rem;

  }
  .menu a {
    margin: 0;
    width: fit-content;
  }
  .welcome {
    font-size: 1.2rem;
  }

  .info {
    width: 96%;
    margin: 2rem auto;
  }

  .info p {
    font-size: 1.2rem;
  }

  .info h2 {
    font-size: 1.8rem;
  }

  .title {
    height: 68px;
  }

  .about {
    width: 96%;
    margin: 2rem auto;

  }

  .about h2 {
    font-size: 1.7rem;
  }

  .about p {
    font-size: 1.2rem;
  }

  .button a img {
    position: relative;
    right: 0.4rem;
  }

  .button a {
    font-size: 1.3rem;
    line-height: 4rem;
    width: 96%;
  }

  .app-name {
    font-size: 3.5rem;
    width: 96%;
    margin: 2rem auto;

}

.content-table {
  width: 96%;
  margin: 2rem auto;
}

.content-table h2 {
  font-size: 2rem;
}

.content-table a {
  line-height: 1.8rem;
  border-bottom: 1px solid white;
  display: block;
  font-size: 1rem;
}

.app-info {
  
  font-size: 1.1rem;
}

.answer h2 {
  font-size: 1.5rem;
}

.answer {
  width: 96%;
}
}


.card{
  background: #fff;
  box-shadow: 0 0 22px var(--c-t-black);
  border-radius: var(--br);
  border: 1px solid #d1d1d1;
}

.card-header{
  border-radius: var(--br);
  padding: 55px 28px;
  background: var(--c-light);
}

.card-header .card-title{
  font-family: var(--text-lora);
  color: var(--c-black);
  margin: 0;
  text-align: center;
}


.card-body{
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
  padding: 55px 32px;
  
  
  color: #111;
  text-align: start;
  font-family: var(--text-lato);
}

ul.list-crowns{
  list-style: none;
}

ul.list-crowns li::before {
  content: "";
}
